.navi{
    text-align:right;
}

.list{
  display:inline;
  width:100%;
}

.size{
  width: 120px;
  height: 30px;
}

.img_1{
  background:url(/img/6.png);
  background-size: cover;
  background-position:center;
    min-height: 654px;
    min-width: 660px;
    width: 660px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px){
  .img_1 {
  left: 50%;
  margin-left: -512px; }
}

.img {
  position: relative;
}

h1{
  text-align: right;
}
